name: Hourly update
on:
  schedule:
    - cron:  '05 * * * *'
jobs:
  hourly_update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/checkout@v3
        with:
          repository: 'fxcoudert/PapersBot'
          path: 'PapersBot'
      - uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Check python version
        run: python -V
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install beautifulsoup4 feedparser tweepy pyyaml Mastodon.py
      - name: Display directory structure
        run: |
          ls -la
          ls -la PapersBot
      - name: Run PapersBot
        env:
          PYTHONUNBUFFERED: 1
          CONSUMER_KEY: ${{ secrets.CONSUMER_KEY }}
          CONSUMER_SECRET: ${{ secrets.CONSUMER_SECRET }}
          ACCESS_KEY: ${{ secrets.ACCESS_KEY }}
          ACCESS_SECRET: ${{ secrets.ACCESS_SECRET }}
          MASTODON_API_BASE_URL: ${{ secrets.MASTODON_API_BASE_URL }}
          MASTODON_CLIENT_ID: ${{ secrets.MASTODON_CLIENT_ID }}
          MASTODON_CLIENT_SECRET: ${{ secrets.MASTODON_CLIENT_SECRET }}
          MASTODON_USER: ${{ secrets.MASTODON_USER }}
          MASTODON_PASSWORD: ${{ secrets.MASTODON_PASSWORD }}
        run: python3 ./PapersBot/papersbot.py
      - name: Commit changes to posted list
        run: |
          git config --global user.name 'Hourly tweeting script'
          git config --global user.email 'fxcoudert@users.noreply.github.com'
          git diff --quiet --exit-code posted.dat || (git commit posted.dat -m 'Papers were posted' && git push)
